---
---

<footer class='bg-gray-900' aria-labelledby='footer-heading'>
  <h2 id='footer-heading' class='sr-only'>Footer</h2>
  <div class='mx-auto max-w-7xl px-6 pb-8 lg:px-8'>
    <div class='border-t border-white/10 pt-8'>
      <p class='text-medium leading-5 text-gray-400'>
        &copy; 2023 Miguel Meza. All rights reserved.
      </p>
    </div>
  </div>
</footer>
